<template>
  <Home />
  <div class="container">
    <a-layout class="wrapper">
      <a-layout class="content">
        <p class="layout-name">Chi tiết thiết bị</p>
        <div class="form-container">
          <div>
            <p>Tên thiết bị: <b>thiết bị 1</b></p>
            <p>
              Device token: <b>{{ token }}</b>
            </p>
            <p>SMS đã gửi: <b>6</b></p>
            <p>SMS đã gửi trong ngày: <b>2</b></p>
            <p>
              Trạng thái:
              <button class="ant-tag" v-bind:id="status">{{ status }}</button>
            </p>
          </div>
        </div>
      </a-layout>
    </a-layout>
  </div>
</template>

<script>
import Home from "../pages/Home.vue";
export default {
  data() {
    return {
      token: "{{ token }}",
      status: "active",
    };
  },
  components: {
    Home,
  },
};
</script>

<style>
#active {
  background: #f6ffed;
  border-color: #b7eb8f;
  color: #52c41a;
  text-transform: uppercase;
}
#deactive {
  color: #fa541c;
  background: #fff2e8;
  border-color: #ffbb96;
  text-transform: uppercase;
}
.wrapper {
  min-height: 100vh;
  background: white;
}
.form-container {
  background: white;
  margin-top: 20px;
  height: 50%;
  border-radius: 4px;
  padding: 24px;
}

.layout-name {
  font-size: 30px;
  margin-bottom: 1px;
  color: #f9b766;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: -10px;
}
.title {
  font-size: 25px;
  font-weight: bold;
  color: #f9b766;
}

.container {
  padding-right: 30px;
  padding: 24px;
  background: #f5f5f5;
  width: 100%;
}
.content {
  padding-top: 20px;
  border-radius: 4px;
  border-right: 10px solid #fff;
  border-top: 8px solid #fff;
  border-bottom: 10px solid #fff;
  padding-right: 24px;
  padding-left: 24px;
}
.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  border-right: none;
}
</style>
