<template>
  <div class="container">
    <a-form id="form-forgot">
      <div>
        <img src="../assets/images/logo.png" />
      </div>
      <span>Reset Password</span>
      <div>
        <a-input type="email" placeholder="E-mail" required />
      </div>
      <div>
        <button class="btn-submit" type="submit">Submit</button>
        <br />
      </div>
    </a-form>
  </div>
</template>

<script>
export default {
  name: "ForgotPassword",
  return: {},
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}
.container {
  height: 170vh !important;
  padding-top: 120px;
  background: #e0e8ef;
}
#form-forgot {
  border: 1px solid #80808000;
  grid-column: 6/9;
  grid-row: 3;
  height: auto;
  width: 30%;
  margin: 1px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  background-color: white;
  text-align: center;
}
#form-forgot input {
  height: 45px;
  width: 80%;
  border-radius: 4px;
  border-style: solid;
  margin-bottom: 6%;
  padding-left: 5px;
}
.btn-submit {
  text-align: center;
  border: none;
  color: white;
  background-color: #f9b666;
  width: 80%;
  height: 45px;
  border-radius: 4px;
  border-color: #f9b666;
  font-size: 13px;
  font-weight: bold;
  transition-duration: 0.4s;
  margin-bottom: 10%;
}
.btn-submit:hover {
  cursor: pointer;
  background-color: #e9ac61;
}
#form-forgot span {
  text-align: center;
  color: #f9b666;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5%;
}
#form-forgot img {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}
</style>
