<template>
  <div>
    <a-layout class="wrapper">
      <a-layout-sider v-model="collapsed" class="menu" collapsible>
        <a-menu class="sidebar">
          <a-menu-item v-on:click="currentMenu = 1">
            <HomeOutlined :class="checkMenuActive(1)" />
            <a href="/overview">Trang chủ</a>
          </a-menu-item>

          <a-menu-item v-on:click="currentMenu = 2">
            <MobileOutlined :class="checkMenuActive(2)" />
            <a href="#">Quản lý thiết bị</a>
          </a-menu-item>

           <a-menu-item v-on:click="currentMenu = 5">
            <LineChartOutlined :class="checkMenuActive(5)" />
            <a href="#">Quản lý chi phí</a>
          </a-menu-item>

          <a-menu-item v-on:click="currentMenu = 3">
            <HistoryOutlined :class="checkMenuActive(3)" />
            <a href="/history">Lịch sử gửi SMS</a>
          </a-menu-item>

          <a-menu-item v-on:click="currentMenu = 4">
            <HistoryOutlined :class="checkMenuActive(4)" />
            <a href="/content-sms">Quản lý SMS</a>
          </a-menu-item>

         
          <a-menu-item v-on:click="currentMenu = 6">
            <MailOutlined :class="checkMenuActive(6)" />
            <a href="/send-sms">Gửi SMS</a>
          </a-menu-item>
          <a-menu-item v-on:click="currentMenu = 7">
            <UserOutlined :class="checkMenuActive(7)" />
            <a href="#">Cá nhân</a>
          </a-menu-item>
        </a-menu>
      </a-layout-sider>
    </a-layout>
  </div>
</template>

<script>
import {
  HomeOutlined,
  MobileOutlined,
  UserOutlined,
  MailOutlined,
  LineChartOutlined,
  HistoryOutlined,
} from "@ant-design/icons-vue";

export default {
  data() {
    return {
      code: "{{ code }}",
    };
  },

  components: {
    HomeOutlined,
    MobileOutlined,
    UserOutlined,
    MailOutlined,
    LineChartOutlined,
    HistoryOutlined,
  },

  methods: {
    checkMenuActive(active) {
      return this.currentMenu === active ? "active" : "deactive";
    },
  },
};
</script>

<style>
.sidebar {
  position: fixed;
}

.wrapper {
  min-height: 100vh;
  background: white;
}
.ant-table-thead > tr > th {
  text-align: center;
}

.form-container table {
  border-collapse: collapse;
  width: 100%;
}

.form-container {
  background: white;
  margin-top: 2%;
  height: 50%;
  border-radius: 4px;
  padding: 24px;
}

.layout-name {
  font-size: 30px;
  margin-bottom: 1px;
  color: #f9b766;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: -10px;
}
.title {
  font-size: 25px;
  font-weight: bold;
  color: #f9b766;
}

.container {
  padding-right: 30px;
  padding: 24px;
  background: #f5f5f5;
}
.ant-pagination.ant-table-pagination {
  display: none;
}
.ant-layout-sider-children {
  flex: 0 0 200px;
}
.ant-layout-sider {
  background: white !important;
  margin-top: 0% !important;
}
.ant-layout-sider-children {
  background: white;
}

.content {
  padding: 5%;
  padding-top: 2%;
  border-radius: 4px;
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  border-top: 8px solid #fff;
  border-bottom: 10px solid #fff;
  padding-right: 24px;
  padding-left: 24px;
}
.ant-table-thead > tr > th {
  text-align: center !important;
}
.ant-table-tbody > tr > td {
  text-align: center;

  max-width: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.customColumn {
  max-width: 200px !important;
  width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: 99px;
}
.ant-table-column-has-actions {
  padding: 10px 2px !important;
}
.ant-table-header-column {
  text-align: center;
}
.ant-table-thead > tr > th .ant-table-header-column {
  text-align: center;
  max-width: 100%;
}

.ant-layout-sider-trigger {
  color: #ffbb96 !important;
  background: white !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #f9b766 !important;
  background: #fff !important;
}
.ant-menu-item-selected {
  color: #f9b766 !important;
  font-weight: bold;
}
.ant-menu-item-selected a {
  color: #f9b766 !important;
  font-weight: bold;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border: #fff !important;
}
.ant-menu-item-active:hover {
  color: #000 !important;
}
.ant-menu-item-selected:hover {
  color: #f9b766 !important;
  font-weight: bold;
}
.device-center {
  text-align: center;
}
.ant-menu-item .anticon + span,
.ant-menu-submenu-title .anticon + span a {
  opacity: 1;
  transition: opacity 0.3s;
}
.ant-menu-item a{
  display: initial;
}
.ant-menu-item a:hover{
  color: #f9b766 !important;
  font-weight: bold;
}
</style>
