<template>
  <body>
    <div class="background">
      <a-form id="form-login">
        <div>
          <img src="../assets/images/logo.png" />
        </div>
        <div class="login">
          <span>Login</span>
        </div>
        <div class="form-input">
          <a-input type="email" placeholder="E-mail" />
        </div>
        <div class="form-input">
          <a-input type="password" placeholder="Password" />
        </div>
        <div>
          <a href="/overview"><input class="btn-login" type="button" value="Login"></a>
          <br />
        </div>
        <p>Do not have an account? <a href="/sign-up">Register now!</a></p>
        <p><a href="/forgotpassword">Forgot password</a></p>
        <br />
      </a-form>
    </div>
  </body>
</template>
<script>
export default {
  name: "Login",
};
</script>
<style scoped>
.body {
  position: relative;
  bottom: 100px;
  left: 0;
}
.background {
  width: 100%;
  height: 790px;
  margin: 0 auto;
  background-color: #e0e8ef;
  display: flex;
}
#form-login {
  border: 1px solid #80808000;
  grid-column: 6/9;
  grid-row: 3;
  height: auto;
  width: 30%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  background-color: white;
  text-align: center;
}
.login {
  margin-bottom: 26px;
  margin-top: 15px;
}
#form-login input {
  height: 45px;
  width: 80%;
  border-radius: 4px;
  border-style: solid;
  margin-bottom: 6%;
}
.btn-login {
  text-align: center;
  border: none;
  color: white;
  background-color: #f9b666;
  width: 80%;
  height: 45px;
  border-radius: 4px;
  border-color: #f9b666;
  font-size: 13px;
  font-weight: bold;
  transition-duration: 0.4s;
  margin-bottom: 5%;
}
.btn-login:hover {
  background-color: #e9ac61;
}
#form-login a {
  text-decoration: underline;
  color: #f9b666;
}
#form-login a:hover {
  color: #e9ac61;
}
#form-login span {
  text-align: center;
  color: #f9b666;
  font-size: 35px;
  margin-top: 10px;
  font-weight: bold;
}
#form-login p {
  text-align: center;
}
#form-login img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 160px;
}
</style>
