<template>
  <Home />
  <div class="container">
    <a-layout class="wrapper">
      <a-layout class="content">
        <p class="layout-name">Trang chủ</p>

        <div class="form-container">
          <div>
            <p>Giới hạn SMS:<b> 100 SMS/ngày</b></p>
            <p>
              SMS Template: Mã xác thực là:<b>{{ code }}</b>
            </p>
            <p>SMS gửi thành công: <b>6</b></p>
            <p>SMS gửi thất bại: <b>8</b></p>
          </div>
        </div>
        <div class="form-container">
          <p class="title">Thiết bị</p>
          <div class="device-center">
            <a-table :columns="deviceColumns" :data-source="devices">
              <template #name="{ text }">
                <a>{{ text }}</a>
              </template>
              <template #customTitle>
                <span> Name </span>
              </template>
              <template #tags="{ text: tags }">
                <span>
                  <a-tag
                    v-for="tag in tags"
                    :key="tag"
                    :color="tag === color ? 'volcano' : 'green'"
                  >
                    {{ tag.toUpperCase() }}
                  </a-tag>
                </span>
              </template>
            </a-table>
          </div>
        </div>

        <div class="form-container">
          <p class="title">Lịch sử</p>

          <div>
            <a-table :columns="historyColumns" :data-source="histories">
              <template #name="{ text }">
                <a>{{ text }}</a>
              </template>
              <template #customTitle>
                <span> Name </span>
              </template>
            </a-table>
          </div>
        </div>
      </a-layout>
    </a-layout>
  </div>
</template>

<script>
import Constants from "../commons/constants";
import Home from "../pages/Home.vue";

const histories = [
  {
    key: "1",
    phone: "09763836456",
    content: " Chuyen khoan trong VCB",
    date: "26/3/2020 16:22:56",
    deviceName: "Iphone 6s",
    status: ["failed"],
  },
  {
    key: "2",
    phone: "09347346334",
    content:
      "Vietcombank: Ma OTP xac thuc GD la 080482, hieu luc 1 phut. Chi tiet GD: Chuyen khoan trong VCB",
    date: "56/3/2020 16:22:56",
    deviceName: "Iphone 7s",
    status: ["failed"],
  },
  {
    key: "3",
    phone: "09347346334",
    content:
      "Vietcombank: Ma OTP xac thuc GD la 080482, hieu luc 1 phut. Chi tiet GD: Chuyen khoan trong VCB",
    date: "56/3/2020 16:22:56",
    deviceName: "Iphone 7s",
    status: ["success"],
  },
];

const deviceColumns = [
  {
    dataIndex: "name",
    key: "name",
    slots: { title: "customTitle" },
    title: "Tên",
  },
  {
    title: "Số SMS đã gửi trong ngày",
    dataIndex: "sms",
    key: "sms",
  },
  {
    title: "Trạng thái",
    key: "tags",
    dataIndex: "tags",
    slots: { customRender: "tags" },
  },
];

const devices = [
  {
    key: "1",
    name: "thiết bị 1",
    sms: 20,
    tags: ["active"],
  },

  {
    key: "3",
    name: "thiết bị 3",
    sms: 1,
    tags: ["deactive"],
  },
];

const historyColumns = [
  {
    title: "SĐT",
    dataIndex: "phone",
    key: "phone",
    slots: { title: "customTitle" },
  },
  {
    title: "Nội dung",
    dataIndex: "content",
    key: "content",
    customRender: (item) => {
      if (item.text.length <= 60) {
        return <span>{item.text}</span>;
      }
      return <span>{item.text.slice(0, 60) + "..."}</span>;
    },
  },
  {
    title: "Thời  gian gửi",
    dataIndex: "date",
    key: "date",
  },
  {
    title: "Thiết bị",
    dataIndex: "deviceName",
    key: "deviceName",
  },
  {
    title: "Trạng thái",
    dataIndex: "status",
    key: "status",
    customRender: (item) => {
      return (
        <span
          style={{
            color:
              item.text[0] === Constants.SMS_STATUS.FAILED ? "red" : "#52c41a",
          }}
        >
          {item.text[0] === Constants.SMS_STATUS.FAILED
            ? "Thất Bại"
            : "Thành Công"}
        </span>
      );
    },
  },
];

export default {
  data() {
    return {
      code: "{{ code }}",
      histories,
      deviceColumns,
      devices,
      historyColumns,
      collapsed: false,
      currentMenu: "active",
      color: Constants.DEACTIVE,
    };
  },
  components: {
    Home,
  },
  methods: {
    checkMenuActive(active) {
      return this.currentMenu === active ? "active" : "deactive";
    },
  },
};
</script>

<style>
.wrapper {
  min-height: 100vh;
  background: white;
}
.ant-table-thead > tr > th {
  text-align: center;
}

.form-container table {
  border-collapse: collapse;
  width: 100%;
}

.form-container {
  background: white;
  margin-top: 20px;
  height: 50%;
  border-radius: 4px;
  padding: 24px;
}

.layout-name {
  font-size: 30px;
  margin-bottom: 1px;
  color: #f9b766;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: -10px;
}
.title {
  font-size: 25px;
  font-weight: bold;
  color: #f9b766;
}

.container {
  padding-right: 30px;
  padding: 24px;
  background: #f5f5f5;
  width: 100%;
}
.ant-pagination.ant-table-pagination {
  display: none;
}
.ant-layout-sider-children {
  flex: 0 0 200px;
}
.ant-layout-sider {
  background: white !important;
  margin-top: 0% !important;
}
.ant-layout-sider-children {
  background: white;
}

.content {
  padding-top: 20px;
  border-radius: 4px;
  border-right: 10px solid #fff;
  border-top: 8px solid #fff;
  border-bottom: 10px solid #fff;
  padding-right: 24px;
  padding-left: 24px;
}
.ant-table-thead > tr > th {
  text-align: center !important;
}
.ant-table-tbody > tr > td {
  text-align: center;

  max-width: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-table-column-has-actions {
  padding: 10px 2px !important;
}
.ant-table-header-column {
  text-align: center;
}
.ant-table-thead > tr > th .ant-table-header-column {
  text-align: center;
  max-width: 100%;
}

.ant-layout-sider-trigger {
  color: #ffbb96 !important;
  background: white !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #fff !important;
}
.ant-menu-item-selected {
  color: #f9b766 !important;
  font-weight: bold;
}
.ant-menu-item-selected span a {
  color: #f9b766 !important;
  font-weight: bold;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border: #fff !important;
}
.ant-menu-item-active:hover {
  color: #000 !important;
}
.ant-menu-item-selected:hover {
  color: #f9b766 !important;
  font-weight: bold;
}
.device-center {
  text-align: center;
}
.ant-menu-item .anticon + span,
.ant-menu-submenu-title .anticon + span a {
  opacity: 1;
  transition: opacity 0.3s;
}
.ant-menu-item span a {
  color: #000;
}
</style>
