<template>
  <Home />
  <div class="container">
    <a-layout class="wrapper">
      <a-layout class="content">
        <p class="layout-name ">Gửi SMS</p>

        <div class="form-container">
          <form>
            <div>
              <label for="number">Nhập số điện thoại:</label>
              <a-input
                class="content-number"
                type="text"
                id="number"
                name="number"
                pattern="(03|05|07|07|08|09)\d{7,8}"
                title="VD:092476356"
                required
              />
            </div>
            <br />
            <div>
              <label class="sms-content">Nhập nội dung SMS:</label>
              <a-textarea rows="3" cols="20" required />
            </div>
            <br />
            <a-input class="btn-submit" type="submit" />
          </form>
        </div>
      </a-layout>
    </a-layout>
  </div>
</template>
<script>
import Home from "../pages/Home.vue";
export default {
  data() {
    return {
      collapsed: false,
      currentMenu: "active",
    };
  },
  components: {
    Home,
  },
  methods: {
    checkMenuActive(active) {
      return this.currentMenu === active ? "active" : "deactive";
    },
  },
};
</script>

<style>
.show {
  display: block;
}
.hidden {
  display: none;
}
.content {
  padding-top: 20px;
  border-radius: 4px;
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  border-top: 8px solid #fff;
  border-bottom: 10px solid #fff;
  padding-right: 24px;
  padding-left: 24px;
}
.ant-btn-primary {
  margin-left: 150px;
  background-color: #f9b766 !important;
  border: none;
}

.ant-input:placeholder-shown {
  width: 100%;
}

.wrapper {
  min-height: 100vh;
  background: white;
}
.sms-content {
  vertical-align: top;
}
.content-number {
  margin-left: 24px;
  border-radius: 4px;

  width: 200px !important;
}
.form-container textarea {
  margin-left: 15px;
  width: 200px;
  border-radius: 4px;
}
.btn-submit {
  margin-left: 145px;
  background: #f9b766;
  border: none;
  width: 70px;
  border-radius: 4px;
  color: #fff;
}

.layout-name {
  font-size: 30px;
  margin-bottom: 1px;
  color: #f9b766;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: -10px;
}
.title {
  font-size: 25px;
  font-weight: bold;
  color: #f9b766;
}

.container {
  padding-right: 30px;
  padding: 24px;
  background: #f5f5f5;
  width: 100%;
}
.ant-layout-sider-children {
  flex: 0 0 200px;
}
.ant-layout-sider {
  background: white !important;
  margin-top: 0% !important;
}
.ant-layout-sider-children {
  background: white;
}

.ant-layout-sider-trigger {
  color: #ffbb96 !important;
  background: white !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #fff !important;
}
.ant-menu-item-selected {
  color: #f9b766 !important;
  font-weight: bold;
}
.ant-menu-item-selected span a {
  color: #f9b766 !important;
  font-weight: bold;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border: #fff !important;
}
.ant-menu-item-active:hover {
  color: #000 !important;
}
.ant-menu-item-selected:hover {
  color: #f9b766 !important;
  font-weight: bold;
}
.ant-menu-item .anticon + span,
.ant-menu-submenu-title .anticon + span a {
  opacity: 1;
  transition: opacity 0.3s;
}
.ant-menu-item span a {
  color: #000;
}
</style>
