<template>
  <div class="container">
    <a-form id="form-signup">
      <div>
        <img src="../assets/images/logo.png" />
      </div>
      <span>Sign Up</span>
      <div>
        <a-input type="email" placeholder="E-mail" />
      </div>
      <div>
        <a-input type="password" placeholder="Password" />
      </div>
      <div>
        <a-input type="password" placeholder="Confirm Password" />
      </div>
      <div>
        <button class="btn-signup" type="submit">SIGN UP</button>
        <br />
      </div>
      <p>Already a member? <a href="#">Sign in</a></p>
      <br />
    </a-form>
  </div>
</template>

<script>
export default {
  name: "SignUp",
  data() {
    return {};
  },
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}
.container {
  height: 170vh !important;
  padding-top: 120px;
  background: #e0e8ef;
}
#form-signup {
  border: 1px solid #80808000;
  grid-column: 6/9;
  grid-row: 3;
  height: auto;
  width: 30%;
  margin: 1px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  background-color: white;
  text-align: center;
}

#form-signup input {
  height: 45px;
  width: 80%;
  border-radius: 4px;
  border-style: solid;
  margin-bottom: 6%;
}
.btn-signup {
  text-align: center;
  border: none;
  color: white;
  background-color: #f9b666;
  width: 80%;
  height: 45px;
  border-radius: 4px;
  border-color: #f9b666;
  font-size: 13px;
  font-weight: bold;
  transition-duration: 0.4s;
  margin-bottom: 5%;
}
.btn-signup:hover {
  background-color: #e9ac61;
}

#form-signup a {
  text-decoration: underline;
  color: #f9b666;
}
#form-signup a:hover {
  color: #e9ac61;
}
#form-signup span {
  text-align: center;
  color: #f9b666;
  font-size: 250%;
  font-weight: bold;
  margin-bottom: 5%;
}
#form-signup p {
  text-align: center;
}
#form-signup img {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}
</style>
