<template>
  <Home />
  <div class="container">
    <a-layout class="wrapper">
      <a-layout class="content">
        <p class="layout-name ">Quản lý SMS</p>

        <div class="form-container">
          <div>
            <label class="sms-content">Nội dung gửi sms:</label> <br />
            <textarea v-model="this.message" rows="3" cols="20" /><br />
            <label id="result" class="sms-content"></label> <br />

            <a-input
              class="btn-submit"
              type="submit"
              @click="submit"
              value="Cập nhật"
            />
          </div>
          <br /><br />

          <div>
            <label class="sms-content"
              >Giới hạn SMS có thể gửi tối đa 1 ngày:</label
            ><br />
            <a-input class="content-number" type="number" required />
          </div>
          <a-input
            class="btn-submit"
            type="submit"
            @click="submit"
            value="Cập nhật"
          />
        </div>
      </a-layout>
    </a-layout>
  </div>
</template>
<script>
import Home from "../pages/Home.vue";
export default {
  props: {},
  data() {
    return {
      collapsed: false,
      currentMenu: "active",
      message: "",
    };
  },
  components: {
    Home,
  },
  methods: {
    // getStudentData:function(){
    // toastr.success('test');
    // toastr.warning('df');

    // },

    checkMenuActive(active) {
      return this.currentMenu === active ? "active" : "deactive";
    },
    submit() {
      var temp = this.message;
      var n = temp.includes("{{ code }}");
      document.getElementById("result").innerHTML = n;
      //       // Inject your class names for animation
      // this.$toastr.defaultClassNames = ["animated", "zoomInUp"];
      // // Change Toast Position
      // this.$toastr.defaultPosition = "toast-top-left";
      // // Send message to browser screen
      // this.$toastr.s(
      //   "This Message From Toastr Plugin\n You can access this plugin : <font color='yellow'>this.$toastr</font>"
      // );
      return temp;
    },
  },
};
</script>

<style>
.show {
  display: block;
}
.hidden {
  display: none;
}
.content {
  padding-top: 20px;
  border-radius: 4px;
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  border-top: 8px solid #fff;
  border-bottom: 10px solid #fff;
  padding-right: 24px;
  padding-left: 24px;
}
.ant-btn-primary {
  margin-left: 150px;
  background-color: #f9b766 !important;
  border: none;
}

.ant-input:placeholder-shown {
  width: 100%;
}

.wrapper {
  min-height: 100vh;
  background: white;
}
.sms-content {
  vertical-align: top;
}
.form-container textarea {
  margin-left: 1px;

  margin-top: 8px;
}

.btn-submit {
  margin-left: 4px;
  background: #f9b766;
  border: none;
  width: 80px;
  border-radius: 4px;
  color: #fff;
}
.ant-input.content-number {
  margin-bottom: 24px;
  margin-left: 1px;
  margin-top: 8px;
}
.form .ant-mentions,
form textarea.ant-input {
  height: auto;
  margin-bottom: 24px;
  margin-left: 1px;
  margin-top: 8px;
}
.container {
  padding-right: 30px;
  padding: 24px;
  background: #f5f5f5;
  width: 100%;
}
.ant-layout-sider-children {
  flex: 0 0 200px;
}
.ant-layout-sider {
  background: white !important;
  margin-top: 0% !important;
}
.ant-layout-sider-children {
  background: white;
}

.ant-layout-sider-trigger {
  color: #ffbb96 !important;
  background: white !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #fff !important;
}
.ant-menu-item-selected {
  color: #f9b766 !important;
  font-weight: bold;
}
.ant-menu-item-selected span a {
  color: #f9b766 !important;
  font-weight: bold;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border: #fff !important;
}
.ant-menu-item-active:hover {
  color: #000 !important;
}
.ant-menu-item-selected:hover {
  color: #f9b766 !important;
  font-weight: bold;
}
.ant-menu-item .anticon + span,
.ant-menu-submenu-title .anticon + span a {
  opacity: 1;
  transition: opacity 0.3s;
}
.ant-menu-item span a {
  color: #000;
}
</style>
