<template>

<router-view/>
</template>

<script>
// import Login from "./pages/Login.vue";
// import Home from "./pages/Home.vue";

// import SendSms from "./pages/SendSms.vue";

export default {
  name: "App",
  components: {
    // SignUp,
    // Home,
    // Login,
    // Sendsms,
    // SendSms,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
}
</style>
